
.cabecalho-main nav{

    // usando container fluid
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3{
        font: 400 1.5rem var(--font-family);
        color: aliceblue;
    }

}
