.cabecalho-main nav {
  // usando container fluid
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .is-preload * ::before,
  .is-preload * ::after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }
}
